.container {
    width: 50px;
    height: 25px;
    border: 1.5px solid #127de070;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.icon {
    font-size: 14px;
}

.ball {
    width: 17px;
    height: 17px;
    background-color: #127de0;
    border-radius: 50%;
    position: absolute;
}