.container {
    border: 2px solid #9f31df;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 22px;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logout {
    padding: 6px;
    border: none;
    background: linear-gradient(to bottom, #127de0, #1253e0);
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
}